/* Header  */
body{
    margin:0px;
}
.container{
    width: 80%;
    margin: auto;
}

.content{
    background: skyblue;
}
.content>div{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 10px;
}

/* Body1  */

.body1{
    background-color: rgb(47, 56, 56);
    color: white;
}
.body1>div{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo div{
    height: 50px;
    width: 50px;
    border-radius: 50% ;
    border: 2px dotted black;
    color: rgb(29, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
}
.body1-1>a{
    color: white;
    margin-left: 3px;
    text-decoration: none;
}

.body1-1>a:hover{
    cursor: pointer;
    color: rgb(238, 158, 158);
    font-size: larger;
    transform: scale();
}

/* body 2 */
.body2{
    margin-top: 1px;
    background: url(assets/b.jpg) no-repeat center;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body2-1{
    
    width: 350px;
    background-color: rgba(83, 80, 80, 0.438);
    border-radius: 9px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body2-1 hr{
    width: 100%;
}

/* body 3 */

.body3{
    background: url(assets/bg.jpg) no-repeat center;
    padding-top: 20px;
    padding-bottom: 15px;
    
}

.article{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.article1{
    width: 60%;
    display: flex;
    justify-content: space-between;
    background: rgba(221, 235, 235, 0.418);
    margin-right:10px;
    border-radius: 9px;
    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.705);
    
}
.article2{
    width: 40%;
    border-radius: 9px;
    background-color: rgba(171, 224, 224, 0.418);
    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.664);
}
.article11{
    width: 40%;
    padding: 10px 0px 0px 10px;
}
.article12{
    width: 60%;
    padding:0px 10px 10px 10px;
}
.article12 div{
    float: right;
    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.664);
   
}

.article2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    padding-left: 8px;
}
.article3{
  
    width: 40%;
}

footer{
    height: 60px;
    background-color: rgb(227, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Recommedation */

.Recommendation{
    background-color: rgba(124, 161, 149, 0.932);
    padding-top: 15px;
}
.Recom{
    display: flex;
    justify-content: space-between;
}
.reco1{
    width: 24%;
    border: 9px;
    box-shadow: -5px 5px 10px 5px rgba(0, 0, 0, 0.664);
    border-radius:9px;
    margin-bottom: 15px;
}

.reco1 img{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.para{
    width: 80%;
    margin: auto;
    padding-bottom: 15px;
}



.para div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(184, 184, 243) ;
    box-shadow: -3px 5px 8px 5px rgba(0, 0, 0, 0.664);
    border-radius: 9px;
    padding: 10px 0px 10px 0px;
    
}

/* Subscription */

.subscribe{
    height: 150px;
    background-color: green;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}






















